@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@100;400;700&display=swap');
@import url('reset.css');

body {
  font-size: .875rem;
  overflow: hidden;
}

body * {
  font-family: IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.01);
}

/* Helpers */

.text-right {
  text-align: right;
}

.text-left {
  text-align: left: 
}

#login, #grocery-list-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 350px;
  padding: 30px;
  border-radius: 5px;
  background: #0058ff;
  z-index: 1;
}

#login.close {
  transform: translate(-50%, -50%) scale(0.5);
  filter: blur(15px);
  opacity: 0;
  visibility: hidden;
}

.section-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.sub-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 100;
  color: #fff;
}

.form {
  position: relative;
}

.form span.icon {
  position: absolute;
  top: 50%;
  left: calc(100% - 35px);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #bababa;
}

.info {
  color: rgba(255,255,255, 0.35);
  font-size: 0.9rem;
  text-align: right;
  margin-top: 10px;
}

#username {
  display: block;
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-indent: 30px;
}

#grocery-list-wrapper {
  width: 900px;
  height: 100%;
  transform: translate(-50%, -50%) scale(1.3);
  filter: blur(15px);
  opacity: 0;
  visibility: hidden;
}

#grocery-list-wrapper.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  filter: none;
}

#grocery-list-wrapper .navigation {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5em;
  padding: 0 20px;
  box-shadow: 0px 2px 0 0 #0259ff;
}

#grocery-list-wrapper .navigation #currrent-user-name, #grocery-list-wrapper .navigation #logout {
  position: relative;
  flex: 1;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0058ff;
}

#grocery-list-wrapper .navigation #currrent-user-name::after {
  position: absolute;
  content: "Grocery List";
  font-size: 0.5rem;
  left: 0;
  bottom: -15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#grocery-list-wrapper .navigation #logout .icon {
  padding: 10px;
  cursor: pointer;
}

#grocery-list-wrapper #new-item-form {
  position: absolute;
  display: flex;
  bottom: 10px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
}

#grocery-list-wrapper #new-item-form .textarea-wrap {
  position: relative;
  display: flex;
}

#grocery-list-wrapper #new-item-form .textarea-wrap #item-name {
  flex: 1;
  border: 0;
  font-size: initial;
  box-shadow: 0 0 0 1px #d0d0d0;
  border-radius: 3px;
  padding: 15px;
  padding-right: 50px;
  outline: none;
}

#grocery-list-wrapper #new-item-form .textarea-wrap #item-name:focus {
  box-shadow: 0 0 0 2px #0058ff;
}

#grocery-list-wrapper #new-item-form .textarea-wrap #add-item {
  position: absolute;
  border: 0;
  font-size: 1.5rem;
  background: #fff;
  color: #0058ff;
  box-shadow: 0 0 0 2px #0058ff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 0.9;
  top: 50%;
  left: calc(100% - 25px);
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
}

#grocery-list-wrapper #new-item-form .textarea-wrap #add-item:hover,
#grocery-list-wrapper #new-item-form .textarea-wrap #add-item:focus {
  background: #0058ff;
  color: #fff;
  box-shadow: none;
}

ul#groceries-list {
  margin-top: 15px;
}

#groceries-list label {
  padding: 15px;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 3px;
}

#groceries-list label:hover {
  box-shadow: 0 0 0 5px white, 0 0 0 6px #0058ff;
  transform: scale(1.01);
}

#groceries-list label span {
  margin-left: 10px;
}

#groceries-list .grocery-list-item.completed label span {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 88, 255, 0.63);
  text-decoration-style: double;
}

#groceries-list .grocery-list-item {
  position: relative;
}

#groceries-list .grocery-list-item .action-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  text-align: right;
}

#groceries-list .grocery-list-item .action-buttons button.btn {
  border: 0;
  padding: 3px 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

#groceries-list .grocery-list-item .action-buttons button.btn.edit {
  background: #0058ff;
  margin-right: 10px;
}

.grocery-list-item.completed .action-buttons button.btn.edit {
  opacity: 0;
  visibility: hidden;
}

#groceries-list .grocery-list-item .action-buttons button.btn.edit:hover {
  background: #fff;
  color: #0058ff;
  box-shadow: 0 0 0 1px #0058ff;
}

#groceries-list .grocery-list-item .action-buttons button.btn.delete {
  background: #de0505;
}

#groceries-list .grocery-list-item .action-buttons button.btn.delete:hover {
  background: #fff;
  color: #de0505;
  box-shadow: 0 0 0 1px #de0505;
}
